.admin-page{

min-height:100vh;

padding:40px;

background:linear-gradient(
135deg,
#141e30,
#243b55
);

}


.admin-container{

max-width:1200px;

margin:auto;

}



.admin-header h2{

color:white;

font-weight:700;

}


.admin-header p{

color:#ddd;

}



.admin-logo{

width:90px;

height:90px;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

font-size:40px;

color:#243b55;

}





.stats-box{

display:flex;

gap:25px;

justify-content:center;

margin:30px 0;

}



.stat-card{

width:250px;

padding:25px;

text-align:center;

border-radius:20px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

color:white;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}



.stat-card h3{

font-size:35px;

font-weight:bold;

}



.table-box{

background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);

padding:25px;

border-radius:20px;

}




.admin-table{

color:white;

}



.admin-table th{

background:#111;

color:white;

}



.admin-table td{

padding:18px;

vertical-align:middle;

}



.admin-table tr:hover{

background:rgba(255,255,255,.15);

}




.status{

padding:7px 18px;

border-radius:30px;

font-weight:bold;

}



.approved{

background:#198754;

}



.rejected{

background:#dc3545;

}



.pending{

background:#ffc107;

color:black;

}




.approve-btn,
.reject-btn{

border:none;

padding:8px 15px;

border-radius:30px;

margin-right:8px;

color:white;

font-weight:bold;

}



.approve-btn{

background:#198754;

}



.reject-btn{

background:#dc3545;

}


.approve-btn:hover,
.reject-btn:hover{

transform:scale(1.05);

}