*{
margin:0;
padding:0;
box-sizing:border-box;
}

.upload-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,#1e3c72,#2a5298,#00b09b,#96c93d);

background-size:400% 400%;

animation:gradientMove 12s ease infinite;

padding:40px;

}

@keyframes gradientMove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

.upload-card{

width:600px;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(18px);

box-shadow:0 20px 45px rgba(0,0,0,.35);

transition:.4s;

}

.upload-card:hover{

transform:translateY(-6px);

}

.upload-logo{

width:90px;

height:90px;

margin:auto;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

color:#198754;

margin-bottom:20px;

box-shadow:0 0 25px rgba(255,255,255,.4);

}

.upload-card h2{

color:white;

font-weight:700;

}

.upload-card p{

color:#e9ecef;

}

.form-control,
.form-select{

height:52px;

border:none;

border-radius:12px;

}

.form-control:focus,
.form-select:focus{

box-shadow:none;

border:2px solid #00ffd5;

}

.upload-btn{

height:55px;

border:none;

border-radius:50px;

font-size:18px;

font-weight:bold;

color:white;

background:linear-gradient(90deg,#11998e,#38ef7d);

transition:.3s;

}

.upload-btn:hover{

transform:scale(1.03);

background:linear-gradient(90deg,#0ba360,#3cba92);

}